.submit-opportunity-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5a3b5d;
  width: 50%;
  margin: auto;
  margin-top: 100px;
  border: 1px solid black;
  box-shadow: 0px 0px 5px gray;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .submit-opportunity-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5a3b5d;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px gray;
    margin-bottom: 5px;
  }

  .text-area {
    height: 5vw;
    width: 70%;
    resize: none;
    background-color: #f9f9f9;
    /* font-family: "Roboto", sans-serif;
      font-size: 1.3vw; */
    /* border: 0.05em solid black; */
  }

  .text-area:focus {
    border: 0.15em solid black;
    border-radius: 0.2em;
  }
}
