.btn-toggle-container {
  padding: 1vw;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-toggle {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #efe9e9;
  margin: 1vw;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.7vw;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  text-align: center;
}

.active {
  color: #efe9e9;
  background-color: black;
}

.inactive {
  color: #000000;
  background-color: #efe9e9;
}

.btn-toggle:focus {
  outline: none;
}
