.btn-container-forms {
  margin: 1vw;
}

.btn-forms {
  display: inline-block;
  width: auto;
  height: 60px;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #efe9e9;
  text-align: center;
  transition: all 0.2s;
  background-color:  #5a3b5d;
  border: 1px solid #5a3b5d;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 600;
  box-sizing: border-box;
}

.btn-forms:hover {
  color: #000000;
  background-color: lightgray;
}

.btn-forms:focus {
  outline: none;
}
