.btn-container {
  margin: 1vw;
}

.btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #efe9e9;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.7vw;
  font-weight: 300;
  color: #efe9e9;
  text-align: center;
  transition: all 0.2s;
  background-color: black;
}

.btn:hover {
  color: #000000;
  background-color: lightgray;
}

.btn:focus {
  outline: none;
}
