.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  width: 60vw;
}

.label-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 70%;
  padding: 0.5vw;
  margin-top: 0.5vw;
  border: none;
  border-bottom: 0.05em solid black;
  background-color: #f9f9f9;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
}

.form-input:focus {
  outline-style: none;
  border-bottom: 0.15em solid black;
  /* border: 0.1em solid black; */
}

.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover,
.form-input:-webkit-autofill:focus,
.form-input:-webkit-autofill:selected {
  background-color: #f9f9f9;
}
