.opportunity-card-tall{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid black;
    box-shadow: 0px 0px 5px gray;
    margin: 5px;
    padding: 20px;
}

.opportunity-card-tall img{
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    object-fit:contain;
    justify-content: center;
}

.opportunity-card-tall a{
    width: 100%;
}