/* .header-container{
    margin-left:10px;
} */
.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 100px;
}

.header-container img{
    width:100%;
    position: relative;
}

.header-container h2{
    font-size: 30px;
    padding: 0;
    color: #5a3b5d;
}
.feed-page{
    margin-top: 70px;
}

#opportunity-list {
    display: grid;
    min-width:69%;
    max-width: 70%;
    grid-auto-rows: minmax(auto,400px);
    column-gap: 10px;
    row-gap: 10px;
    padding-right:20px;
    padding:5px;
    padding-bottom: 10px;
    margin-bottom:10px;
  }

#latest-updates-list{
    max-width: 25%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto,400px);
    column-gap: 10px;
    row-gap: 10px;
    background-color: #FEDC2A;
    padding:5px;
    padding-bottom: 10px;
    margin-bottom:10px;
  }

#latest-updates-list .button-default {
    background-color: white;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid black;
    box-shadow: 0px 0px 5px gray;
    margin: 5px;
    text-align: left;
}

.search-container {
    /* position: absolute;
    top: 29%;
    left: 23%;
    transform: translate(-50%, -50%); */
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
}

.search-container input{
    height: 50px;
    width: 500px;
    font-size: 30px;
    font-family:'satisfy';
    padding:5px;
}
.img-laptop{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 50px;
}

@media (min-width: 375px) {

    #latest-updates-list{
        display: none;
    }

    .search-container{
        /* display: none; */
    }

    #opportunity-list {
        display: grid;
        max-width: 100%;
        grid-template-columns: 1fr;
    }

    .img-laptop{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-top: 50px;
        margin-right: 150px;
        margin-right: 150px;
    }

}

@media (min-width: 576px) {

    #opportunity-list {
        display: grid;
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .img-laptop{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-top: 50px;
        margin-right: 150px;
    }
}

@media (min-width: 768px) {

    #latest-updates-list{
        display: unset;
        max-width: 30%;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(auto,420px);
        column-gap: 10px;
        row-gap: 10px;
        background-color: #FEDC2A;
        padding:5px;
        padding-bottom: 10px;
        margin-bottom:10px;
    }
    
    #opportunity-list {
        display: grid;
        min-width: 63%;
        max-width: 64%;
        grid-auto-rows: minmax(auto,420px);

      }
    
    .img-laptop{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-top: 50px;
        margin-right: 150px;
    }

    .img-mobile{
        display: none;
    }
    
    .search-container {
        /* display: unset;    
        position: absolute;
        top: 180px;
        left: 32%;
        transform: translate(-50%, -50%); */
    }
    
    .search-container input{
        height: 35px;
        width: 400px;
        font-size: 25px;
        font-family:'satisfy';
        padding:5px;
    }

    }

@media (min-width: 992px) {
    
    #opportunity-list {
        display: grid;
        min-width:69%;
        max-width: 70%;
        grid-auto-rows: minmax(auto,400px);
        column-gap: 10px;
        row-gap: 10px;
        padding-right:20px;
        padding:5px;
        padding-bottom: 10px;
        margin-bottom:10px;
      }

      #latest-updates-list{
        max-width: 25%;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(auto,400px);
        column-gap: 10px;
        row-gap: 10px;
        background-color: #FEDC2A;
        padding:5px;
        padding-bottom: 10px;
        margin-bottom:10px;
      }
    
   

    .search-container {
        /* position: absolute;
        top: 195px;
        left: 30%;
        transform: translate(-50%, -50%); */
    }
    
    .search-container input{
        height: 50px;
        width: 500px;
        font-size: 30px;
        font-family:'satisfy';
        padding:5px;
    }
}

    @media (min-width: 1200px){        
        .search-container input{
            width: 600px;
        }
    
        .search-container{
            /* top:200px; */
        }
    }

    @media (min-width: 1400px){    
        .search-container input{
            width: 700px;
        }

        .search-container{
            /* top:210px; */
        }
    
    }

    @media (min-width: 1600px){
        .search-container input{
            width: 800px;
        }
    
        .search-container{
            /* top:220px; */
        }
    }