.opportunityPage{
    display:flex;
    background-color: #c3a3c9;

}
.column-1{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}

.column-2{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin-top: 50px;
}