.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.opportunityPage {
  display: flex;
  align-content: space-around;
  width: 90%;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.column-1 {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  padding: 40px;
  width: 60%;
}

.column-2 {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  margin-top: 40px;
  width: 50%;
}

/* #objectives{
    background-color: #fedc2a;
    box-shadow: 0px 0px 5px -5px #c3a3c9;
    padding: 30px;
    width: auto;
    margin-top: 30px;
}
#objectives-text{
    padding: 30px;
    background-color: whitesmoke;
    width: auto;
    margin-top: 20px;
} */
#oppDetails {
  background-color: #c3a3c9;
  box-shadow: 0px 0px 5px #c3a3c9;
  padding: 40px;
}

#location-map {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: whitesmoke;
  padding: 0px 30px 30px 30px;
}

#location-map img {
  width: 100%;
  object-fit: contain;
  border: 1px solid black;
  box-shadow: 0px 0px 5px gray;
}

#title {
  margin: 50px 70px 0px 50px;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}

#actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: #fedc2a;
  box-shadow: 0px 0px 5px -5px #c3a3c9;
  padding: 10px 20px 10px 20px;
}

.button-opp {
  width: 80%;
  height: 50px;
  background-color: white;
  color: grey;
  border: 1px solid grey;
  box-shadow: 0px 0px 5px grey;
  margin-left: 30px;
}
