*{
  border: solid 1px red;
}
.header{
  width: 100%;
  min-height: 6vh;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-color:black;
  transition: all .7s ease-in;
}

.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}

.scrolled .logo img {
  width: 90px;
}

.logo img{
  width: 150px;
  margin-left: 10px;
  flex-wrap: wrap;
  align-self: flex-start;
}


.navbar-flex{
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}
