@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Satisfy&display=swap');

.feed-page{
    display: flex;
}

.button-default img{
    display: flex;
    align-self: center;
    width: 100%;
    height: 300px;
    object-fit:contain;
    justify-content: center;
}

.modal-overlay {
position: fixed;
top: 0;
left: 0;
z-index: 1040;
width: 100vw;
height: 100vh;
background-color: #000;
opacity: .5;
}

.modal-wrapper {
position: fixed;
top: 0;
left: 0;
z-index: 1050;
width: 100%;
height: 100%;
overflow-x: hidden;
overflow-y: auto;
outline: 0;
}

.modal {
z-index: 100;
position: relative;
margin: 1.75rem auto;
border-radius: 3px;
max-width: 500px;
padding: 2rem;
}

.modal-header {
width: 110%;
display: flex;
justify-content: flex-end;
}

.modal-close-button {
font-size: 1.4rem;
font-weight: 700;
line-height: 1;
color: #000;
opacity: .8;
cursor: pointer;
border: none;
}


@media (min-width: 375px){
    .modal-header {
        width: 60%;
        }
    }

@media (min-width: 576px){
    .modal-header {
        width: 90%;
        }
}

@media (min-width: 768px){
    .modal-header {
        width: 110%;
        }
}