.nav-bar {
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;
    align-items: center;
    flex-wrap: wrap;
  }
  
  a:link {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
  
.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    color: #5A3B5D;
    font-size: 2em;
    font-weight: 500;
    border-radius: 5%;
}

.nav-link:hover {
    color: #FEDC2A;
    font-weight: 400;
    background-color: rgba(139,83,143, .95);
    /* background-color: rgba(90,59,93, .9); */
}


  @media screen and (max-width: 700px) {
    .nav-bar {
      justify-content: center;
    }
  }